#Div-1 {
    height: 100px;
    width: 100px;
    background-color: blueviolet;
    color: aliceblue;
    border: 1px solid black;
    margin-top: 20px;
}

.dark {
    background-color: black;
    color: white;
}

.light {
    background-color: white;
    color: black;
}